{% extends 'base.html' %}

{% block content %}

<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky;" class="">
    <nav class="uk-background-secondary uk-light" uk-navbar>
      <div class="uk-navbar-left">
        <a href="" class="uk-navbar-item uk-logo uk-dark"><b>DreamVille Shop</b></a>
      </div>
      <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href=""><span uk-icon="thumbnails"></span><b>PRODUCTS</b></a></li>
            <li class="uk-parent"><a href=""><span uk-icon="cart"></span><b>CART</b></a></li>
            <li><a href=""></a></li>
        </ul>
      </div>
      <div class="uk-navbar-right">
      {% if user.is_authenticated %}
      <div class="uk-margin-right">
          <a href="" class="uk-icon-button" uk-icon="user"><span>{{ user.username }}</span></a>
          <div uk-dropdown="pos:bottom-justify">
              <ul class="uk-nav uk-dropdown-nav">
                <div>
                    <a class="uk-button uk-button-default" href=""><span uk-icon="settings"></span> Account</a>
                </div>
                <hr class="uk-divider-icon">
                <div>
                    <a class="uk-button uk-button-danger" href="/accounts/logout/"><span uk-icon="sign-out"></span> Logout</a>
                </div>
              </ul>
          </div>
      </div>

      {% else %}
        <button class="signin uk-button uk-button-default uk-margin-right" type="button">SIGN IN <span uk-icon="sign-in"></span></button>
        <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 600">
          <a href="/accounts/google/login" class="uk-button uk-button-danger uk-margin uk-light">
            <span uk-icon="google"></span> Google
          </a>
          <a href="/accounts/facebook/login" class="uk-button uk-button-primary uk-light">
            <span uk-icon="facebook"></span> Facebook
          </a>
        </div>
      </div>
      {% endif %}
    </nav>
</div>

{% endblock %}
